.products__main{
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
}
.product-list__main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    /* margin: auto;
    align-items: center; */
}