.products__main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.product-list__main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    align-items: center;
}